#profile-body {
    font-size: 125%;
    height: 100%;
    width: 100%;
}

#profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 10%;
}



#profile-pic-username-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#profile-picture {
    border-radius: 50%;
    padding: 2%;
}

#profile-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

#story-btn {
    width: 32%;
}

#edit-btn {
    width: 32%;
}

#signOut {
    width: 32%;
}

#top-profile-container {
    border-bottom: 5px solid grey;
    padding: 2%;
}

#personal-details-container {
    border-bottom: 5px solid grey;
    padding: 2%;
}

.post-display {
    border: 7px solid grey
}

.post-username-photo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-profile-picture {
    width: 33%;
    border-radius: 50%;
    padding: 2%;
}

.post-immage {
    width: 100%

}

.comments-display {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-profile-picture {
    width: 20%;
    border-radius: 50%;
    padding: 2%;
}

.comments-display-user-comment {
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: rgb(210, 210, 210);
    width: 75%;
    border-radius: 10px;
}

.like-button {
    width: 49%;
    border: 5px solid white;
    border-radius: 20px;
    font-size: 100%;
}

.comment-button {
    width: 49%;
    border: 5px solid white;
    border-radius: 20px;
    font-size: 100%;
}

.post-profile-picture-comment {
    width: 15%;
    border-radius: 50%;
    padding: 2%;
}

.comment-input {
    border-radius: 20px;
    background-color: rgb(213, 210, 210);
}

.comment-form {
    display: flex;
    flex-direction: row;
    padding: 1%;
}

.comment-submit {
    width: 20%
}

.follow-picture {
    width: 20%;
    border-radius: 50%;
    padding: 2%;
}

#follow-container {
    display: flex;
    flex-direction: column;
}

